header{
	
}
footer{

	background-color: #172337;
}
footer h6{
	margin-top: 40px;
}

footer > div > div{
	max-width: 1304px !important;
}
.footer_top{
	height: 259px;
	border-bottom: 1px solid #454d5e;
}
.footer_top p{

}
.footer_top > .row > div > .row > div{
	padding-top: 20px;
	
	/*border:1px solid orange;*/
}
.footer_top a{
	color: #fff;
	padding-left: 0px;
	padding: 4px;
	font-size: 0.8em;

}
.footer_top p{
	font-size: 0.9em;
}
.footer_top a:hover{
	text-decoration: underline;
}
.footer_bottom{
	height: 72px;
}
.m_footer_top_div{
	border-left: 1px solid #454d5e;
	padding-left: 25px;
}
.footer_bottom .row > div ul {

	margin-top: 30px;
}
.footer_bottom a{
	color: #fff;
	font-size: 0.8em;
	padding: 0px;
}
.footer_bottom a img{
	margin
}
.footer_bottom li{
	padding-right: 65px;
}
.footer_payment_a{
	display: block;
	margin-top: 30px;

}
.header_top{

	height: 56px;
	background-color: #2874f0;
	padding-top: 10px;
	padding-left: 185px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10000;
	
}
.header_bottom{
	margin-top: 56px;
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #caccce;
}
body{
	background-color: #f1f3f6;
	font-family: 'Roboto', sans-serif;
}

div.m_cont{
	min-height: /*11406*/3000px;
	width: 99%;
	background-color: #f1f3f6;
	padding: 0px;
}
.m_main1{
	height: 280px;
	margin-top: 8px;
	
}
.m_main2{
	
	margin-top: 10px;
	
	border-top: 1px solid #ebebeb;
	/*background-color: #fff;*/
	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1);
}
.m_main2 .row{
	
	height: 362px;
	margin: 0px;
}
.m_main2 .row > div{
	padding: 0px;

}
.m_main2_c10_top{
	height: 62px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	padding: 15px;
}

.m_main3{
	
	margin-top: 20px;
}
.m_main3 >.row > div, .m_main5 > .row > div{
	
	padding: 2px; 
	height: 238px;
}

.m_main4{
	height: 352px;
	margin-top: 11px;
	background-color: #fff;
}
.m_main5{
	height: 237px;
	margin-top: 20px;
	
}
.m_main5 >.row > div{
	
	padding: 2px 6px; 
	height: 238px;
}
.m_main6{
	height: 377px;
	margin-top: 10px;
	border-top: 1px solid #e2e2e2;
	background: #fff;

}
.m_main6_c10{
	height: 81px;
}
.m_main6_c10 a{
	margin-top: 7px;
}
.m_ccontrol{
	width: 4%;
	opacity: 1;
	background: #fff;
	height: 40%;
	margin-top: 80px;

}
.m_ccontrol i{
	color: #212121 !important;
	font-size: 1.8em;
}
#demo .carousel-control-prev{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#demo .carousel-control-next{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.m_bcwhite{
	background: #fff;
}
.cbox{
	width: 100%;
	height: 278px;
	background: #fff;
}

/*plugin development
theme development wordpress 
taxonomy 
custom post type */

.search_form{
	width: 565px;
	height: 37px;
	background: #fff;
	margin-left: 12px;
	margin-right: 87px;
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	position: relative;
}
.search_form input[type=text]{
	width: 495px;
	margin-left: 16px;
	margin-top: 8px;
	border: none;
	font-size: 0.9em;

}
.search_form .fa-search{
	color: #2874f0;
	font-size: 1.2em;
}

.search_form input:focus,#mymodal input:focus {
	outline: none;
}
.ep{
	font-style: italic;
	font-size: 0.7em;
}
.explore{
	color: #fff;
}
.plus{
	color: #ffe500;
}
.m_ep{
	position: relative;
	top: -10px;
}
.m_top_nav{
	/*margin-left: 87px;*/
	z-index: 5000;
	position: relative;
}
.m_top_nav a{
	color: #fff;
	font-size: 
}
.m_top_nav .fa-shopping-cart{
	font-size: 1.2em;
}
.m_top_nav .fa-chevron-down{
	font-size: 0.4em;
	position: relative;
	top: -3px;
	color: #b4cffa;
}
.m_top_nav >li{
	position: relative;
	padding-bottom: 6px;
}
.m_top_nav >li:hover > .submenu{
	visibility: visible;
	opacity: 1;

}
.submenu{
	width: 241px;
	background: #fff;
	position: absolute;
	top: 46px;
	left: 0px;
	z-index: 1000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: all linear 0.1s;
}
.submenu a{
	color: #282829;
	height: 54px;
	line-height: 40px;
	border-radius: 0px !important;
	border-bottom:1px solid #efeff0;
	
}
.submenu a:hover{
	cursor:pointer;
	background: #f9f9f9;
}
.submenu i{
	color: #2975f1;
	margin-right: 10px;
}
.header_bottom_nav > ul > li > a{
	color: #212121;
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px  25px !important;
	cursor: 
}
.header_bottom_nav i{
	color: #cecece;
	font-size: 0.6em;
	margin-left: 4px;
}
.header_bottom_nav_ul{
	width: 100%;
	padding-left: 55px;
}
.header_bottom_nav_ul a:hover{
	cursor: pointer !important;
}
.header_bottom_nav_ul > li{
	/*position: relative;*/
}
.header_bottom_nav_ul > li:hover > .category_submenu{
	visibility: visible;
	opacity: 1;
}
.header_bottom_nav_ul > li >a:hover, .header_bottom_nav_ul > li:hover >a{
	color: #2874f0;
}

.m_triangleup{
	position: absolute;
	top: -40px;
	left: 40px;
	color: #fff !important;
	font-size: 4em;

}
.category_submenu{
	width: 1250px;
	position: absolute;
	top: 94px;
	left: 29px;
	z-index: 1000;
	visibility: hidden;
	opacity: 1;
	transition: all linear 0.1s;
	transition-delay: 0.2s;

}
.row{
	margin: 0px;
}
.row > div{
	
}
.category_submenu > div > div.col{
	min-height: 530px;
	/*overflow: hidden;*/
	
}
.m_gry{
	background: #f9f9f9;
}
.m_wht{
	background: #fff;
}
.category_submenu ul{
	padding-left: 0px;
	list-style: none;
	padding-bottom: 10px;
}
.category_submenu ul a{
	display: block;
	color: #666;
	font-size: 0.8em;
	padding: 5px 0px;
}
.category_submenu ul{
	margin-left: 12px;

}
.category_submenu h6{
	margin-top: 18px;
	margin-left: 12px;
}
.category_submenu a:hover{
	text-decoration:none;
}
.m_margin_top{
	margin-top: 75px;
}
.m_m2_lefta{
	display: block;
	overflow: hidden;
	height: 100%;
	padding: 12px 10px;
	font-size: 0.8em;
	position: relative;
}
.m_m2_lefta .fa-heart{
	position: absolute;
	top: 0px;
	right: 4px;
	color: #c8c8c8;
}
.m_m2_lefta > div{
	margin: 5px 0px; 
}
.m_m2_lefta:hover{
	text-decoration: none;
}
.m_m2_lefta:hover img{
	transform: scale(1.05,1.05);
}

#demo2{
	overflow: hidden;
}
#demo2 .m_ccontrol{
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}
#demo2 .m_ccontrol:hover{
	box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.19);
}
.m_search_list{
	width: 565px;
	min-height: 313px;
	background: #fff;
	padding-top: 15px;
	position: absolute;
	top: 37px;
	left: 0px;
	z-index: 2000;
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	display: none;
}
.m_search_list h6{
	margin-left: 15px;
}
.m_search_list a{
	padding: 9px 15px;
	color: #0d0d0d;
	font-size: 0.9em;
}
.m_search_list a:hover{
	background: #f4f8ff;
}
.m_search_list a .fa-search{
	color:#777;
	font-size: 0.8em;
	margin-right: 23px;
}
.carousel-control-prev{
	border-top-right-radius: 5px;
	border-bottom-right-radius:  5px;

}
.carousel-control-next{
	border-top-left-radius: 5px;
	border-bottom-left-radius:  5px;
}
.m_main6 img{
	width: 150px;
	height: 120px;
}
.m_main6_img_div{
	height: 130px;
}
.m_cont_bottom_last{
	
	background: #fff;
	border-top: 1px solid #ddd;
	font-size: 0.9em;
	margin-top: 49px;
}
.m_cont_bottom_last a{
	display: inline-block;
	padding:0px 5px;
	border-right: 1px solid #333;
	color: #565656;
	font-size: 0.8em;

}
.m_cont_bottom_last > div{
	max-width: 1293px;
	padding-bottom: 0px;
}
.m_cont_bottom_last_head{
	margin-top:57px;
	font-size: 0.9em;
}
.m_cont_bottom_last a:last-of-type{
	border-right: none;
}
.footer_info{
	margin-top: 62px;
	padding-bottom: 20px;

}
.footer_info p{
	font-size: 0.8em;
}
.bshadow{
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	overflow: hidden;
}
.recentlyviewed{
	height: 62px;
	padding-top: 12px;
}
.recentlyviewed a{
	margin-top: 0px;
}
#myModal{
	z-index: 20000;
}
#myModal .row >div{
	height: 521px;

}
#myModal .close{
	position: absolute;
	top:-10px;
	right: -30px;
	font-size: 3em;
	color: #fff;
	opacity: 1;

}
#myModal .modal-body{
	padding:0px;
}
#myModal .modalpadding{
	padding: 37px;
}
.modalpadding_img{
	background-image: url(img/modal.png);
	background-repeat: no-repeat;
	background-position: center 300px;
}
#mymodal input{
	border:none;
	border-radius: 0px;
}
#mymodal input[type=text],#mymodal input[type=password]{
	border-bottom: 1px solid #e0e0e0;
}
#mymodal input[type=submit]{
	background: #fb641b;
}
.newtofk{
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	border-radius: 0px;
}
.loginform > .form-group {
	position: relative;
	
}
.loginform > .form-group > span{
	display: inline-block;
	transform: translate(15px;32px);
	transition: all linear 0.1s;
}
./*loginform input:focus ~ span{
	transform: translate(15px,0px);
	border-bottom: 20px solid #e0e0e0 !important;
	}*/
	.loginform input:focus{
		outline: 6px solid #fff !important;
		border-bottom: 3px solid #e0e0e0 !important;
		
	}
	.forgot{
		position: absolute;
		top: 30px;
		right: 10px;
	}
	*:focus{
		outline: none !important;
	}
	.modalpaddinglogin{
		padding-top: 50px;
	}
	.a_bg_orange{
		background: #ff6161;
		border: 1px solid #fff;
		position: absolute;
		top: -3px;
		left: 20px;
		display: block;
		border-radius: 8px;
	}
	.recentul{
		border-bottom: 1px solid #f1f3f6;
		margin-bottom: 15px;
	}
	.recentul .fa{
		margin-right: 20px;
	}
	.m_top_nav > li:nth-child(2):hover > a > .fa{
		font-size: 0.4em;
		color: #b4cffa;

	}
	#demo .carousel-item{
		transition: transform 0.2s ease-in-out;
	}

	.m_deals_of_the_day {
		max-width: 83%;
	}
